// Place all the styles related to the api::reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-container{
    display: flex;
    margin-top: 120px;
    padding: 10px;
    width: 75%;
    max-width:1480px;
    
    border-top: 1px solid lightgray;
}

.review-sidebar{
    position: relative;
    top: 20px;
    right: 7px;
}

.review-sidebar h1{
    font-size: 25px;
    font-weight: bold;
    font-family: 'PT-sans',sans-serif;
    margin-bottom: 12px;
}

.review-sidebar h2{
    font-family: 'Lato',sans-serif;
    font-size: 18px;
    margin-bottom: -12px;
    display: flex;
}
.review-sidebar h2 p{
    font-family: 'Lato',sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    bottom:14px;
    left: 7px;
}

.review-sidebar h3{
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    margin-bottom: 12px;
}

.review-sidebar ul button{
    position: relative;
    top: 7px;
    width: 182px;
    height: 20px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 3px;
    outline: none;
}



.review-sidebar a {
    text-decoration: none;
    color: #007185;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.review-sidebar a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #C7511F
}

.review-sidebar a:hover button{
    border: 1px solid orange;
    background: beige;
}

.inner-review-button{
    height: 20px;
    float: left;
    position: relative;
    right: 7px;
    bottom: 2px;
    border: 0px;
    background: #FFA41C;
    box-shadow: inset -2px 0 0 -1px #f5961d, inset 0 0 0 1px #de7921;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
}



.review-body{
        display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 20px;
    margin-left: 140px;
}

.review-body h1{
    font-size: 17px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
}

.review-body h2 {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
    display: flex;
    margin-left: -15px;
}

.review-body h2 div{
    margin-left: 8px;
}


.review-body h4, .review-body h3{
    margin-bottom: 12px;
}

.review-body h5{
    position:relative;
    top:10px;
}

.review-body h5 div{ 
    position: relative;
    bottom: 25px;
    left: 38px;
}

#review-redirect{
    position: relative;
    top:11px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px 0px 20px 0px;
    line-height: 32px;
}

#review-redirect h5{
    font-size: 18px;
    font-weight: bold;
    font-family: 'PT-sans', sans-serif;
}

#review-redirect h6{
    font-size: 14px;
    font-weight: 500;
    font-family: 'PT-sans', sans-serif;
}

#review-redirect button{
    width:100%;
    height: 29px;
    margin-bottom: 20px;
    position: relative;
    top: 5px;
    border-radius: 7px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 3px lightgray;
    background: white;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    outline: none;
}

#review-redirect button:hover{
    cursor: pointer;
    background: rgb(255, 255, 252);
}




#outer-review-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#outer-review-form > div {
    max-width: 705px;
}

#outer-review-form h1{
    position: relative;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding: 35px 0px 35px 0px
}

#outer-review-form  h3 img{
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

#outer-review-form h5 div {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding-bottom: 27px;
}

#outer-review-form h6{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-top: 22px;
    margin-bottom: 22px;
}

#inner-review-form h6 div {
      
    border-bottom: 0px solid lightgray;
    padding-bottom: 0px;
    padding-top: 10px;
    outline:none;
   
}

#inner-review-form div form {
    display: flex;
    flex-direction: column;
}

#inner-review-form h5 #div-form-review{
    display: flex;
    flex-direction: column;
    border-bottom: 0px solid transparent ;
}

#div-form-review h5, #div-form-review h6{
        margin-top: 17px;
    margin-bottom: 17px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'PT-sans', sans-serif;
}

#div-form-review input{
        border: 1px solid gray;
    height: 30px;
    border-radius: 3px;
    padding: 2px 0px 2px 8px;
    font-size: 14px;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin-bottom: 19px;
    outline: none;
}

#div-form-review input:focus, #div-form-review textarea:focus{
    border:1px solid rgb(227, 125, 0);
    box-shadow: 0px 0px 5px rgb(208, 114, 0);
}
#div-form-review textarea{
        padding: 5px 0px 0px 8px;
    color: black;
    height: 130px;
    font-family: 'PT-sans',sans-serif;
    outline: none;
    

}

#div-form-review button {
        width: 65px;
    position: relative;
    height: 31px;
    top: 30px;
    right: -640px;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    outline: none;
    border: 1px solid rgb(128, 92, 45);
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
}