// Place all the styles related to the api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.outer-cont {
    margin-left: auto;
    margin-right: auto;
     display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.session-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    width: 330px;
    margin-left:auto;
    margin-right: auto;
    height: 480px;
    margin-top: 5px;
    border-radius: 5px;
    margin-top: 10px;
}


.signup-cont{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.createacc{
    font-size: 29px;
    position: relative;
    bottom: 38px;
    right: 18%;
    font-weight:initial;
    font-family: 'PT Sans', sans-serif;

    
}

.signup-param {
    position: relative;
    bottom: 25px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}
.signupinput {
    width: 300px;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 15px;
    font-family: 'PT Sans', sans-serif; 
    border: 1px solid gray;
    border-radius: 3px;
   
}


.signupbutton{
    width: 299px;
    height:29px;
    position: relative;
    bottom: 45px;
    border: 1px solid black;
    border-radius: 3px;
    background: #f8d16e;
    border-color: #5e4a1a #5f4b1a #6b551c;
    font-family: 'PT Sans', sans-serif;
}

.logo{
//    position: relatiabve;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top:10px;
   bottom: 10px;
    width:125px;
    height:45px;
    
}

#clause{
    font-weight: normal;
    font-size: 13px;
    position: relative;
    bottom: 26px;
    font-family: 'PT Sans', sans-serif;
}
#i{
    font-weight: normal;
    display: inline-flex;
    font-size: 16px;
    color: blue;
    font-style: italic;
    font-family: 'Niconne';
}

.cond{
     position: relative;
     bottom: 36px;
     right: 15px;
     font-size: 12.5px;
     font-family: 'Lato', sans-serif;
}

#break{
    margin-top:5px;
    list-style-type: none;
}

.already{
    position: relative;
    right: 48px;
    padding-bottom: 65px;
    top: 53px;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;

}

#cont{
    padding: 0px 55px 0px 55px;

}

#cont:before, #cont:after{
     content: "";
    height: 1px;
    // border-top: 2px solid lightgray;
      background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(147,147,147,1) 50%,rgba(255, 254, 254, 0) 100%);
    display: block;
    position: relative;
    top:50px;
    margin-bottom: 0px;
    margin-top: -39px;
}

.signacc {
    font-size: 30px;
    position: relative;
    bottom: 8px;
    right: 32%;
    font-weight:normal;
    margin-bottom: 0px;
    font-family: 'PT Sans', sans-serif;
}

.signin-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    width: 340px;
     margin-left:auto;
    margin-right: auto;
    height: 340px;
    margin-top: 5px;
    border-radius: 5px;
}

.login-param {
    position: relative;
    bottom: 1px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    left: 15px
}

.signbutton {
    width: 310px;
    height: 32px;
    font-size: 14px;
    position: relative;
    top:8px;
    border: 1px solid black;
    border-radius: 3px;
    background: #fad577;
    border-color: #a88734 #9c7e31 #846a29;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 12px;
}

.signcond {
    position: relative;
     bottom: 0px;
     left: 18px;
     font-size: 13px;
     font-family: 'PT Sans', sans-serif;
}

#redirect-button {
    width: 340px;
    height: 30px;
    display:flex;
     margin-left:auto;
    margin-right: auto;
     justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 3px;
    font-family: 'PT Sans', sans-serif;
}

#new{
      display:flex;
     margin-left:auto;
    margin-right: auto;
    width:345px;
    font-size: 13px;
    font-weight: lighter;
    font-family: 'PT Sans', sans-serif;
    color:gray;
}

.errors {
   position: relative;
    height:92px;
    width: 340px;
    border: 1px solid rgb(177, 0, 0);
    border-radius: 5px;
    right:20px
}

.innerError {
    position: absolute;
    left: 55px;
    bottom: -2px;
    font-family: 'PT Sans', sans-serif;
}

#problem {
    color: rgb(177, 0, 0);
    font-size: 17px;
    position: relative;
    top: 1px;
}

#ex {
   height: 30px;
    width: 30px;
    position: absolute;
    top: 15px;
    left: 13px;
}

