.body{
    width:100%;
}

#background{
    width: 100%;
    height: 475px;
    z-index: 1;
}


#product-list {
   
    height: 444px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 4;
    margin-top: -233px;
    
}

.title{
    margin-top: 12px;
    font-size: 21px;
    line-height: 27.3px;
    margin-bottom: 10px;
    font-weight: bold;
}

.product-list-item{
    border: 1px solid rgb(231, 231, 231);
    height: 95%;
    width: 23.5%;
    font-weight: bold;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif; 
    display:flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    padding: 4px 0px 5px 20px;
    background-color: white;
}  

.product-list-image{
    width:93%;
    height:74%;
}

.product-list-image:hover{
    cursor: pointer
}

.product-link{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: lighter;
    font-family: 'PT Sans', sans-serif; 
    right: 20px;
    text-decoration: none;
    color:#006274;
}

.product-link:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #C7511F
}

#lower-product-list {
   
    height: 425px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 4;
    margin-top: 18px;
}