.cart-cont{
    background: white;
    height: 300px;
    width: 80%;
    min-width: 1000px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.cart-inner-cont{
    display: flex;
    padding-top:50px;
    padding-left: 5px;
}

#empty-cart{
    height: 240px;
    width: 400px;
}

.empty-title{
    position: relative;
    top: 20px;
    left: 5px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    font-family: 'PT-sans', sans-serif;
}

.cart-signin{
    text-decoration: none;
    font-family: 'PT-sans', sans-serif;
    color: black;
    font-size: 18px;
    padding: 6px 12px 7px 12px;
    border: 1px solid #FCD200;
    border-radius: 8px;
    background: #FFD814;
    position: relative;
    top: 50px;
    left: 5px;
    margin-right: 8px;
    box-shadow: 0px 1px 6px 1px rgb(230, 230, 230);
}

.cart-signin:hover{
    background: #F7CA00;
    border-color: #F2C200;
}


.cart-signup{
    text-decoration: none;
    font-family: 'PT-sans', sans-serif;
    position: relative;
    top: 50px;
    left: 5px;
    color: black;
    font-size: 18px;
    padding: 6px 12px 7px 12px;
    border: 1px solid lightgray;
    box-shadow: 0px 1px 6px 1px rgb(230, 230, 230);
    border-radius: 8px;
}

.cart-signup:hover{
    background-color: #F7FAFA;
    border-color: #D5D9D9;
}

.lower-cart-cont{
    background:white;
    height: 100px;

    width: 80%;
    min-width: 1000px;
    margin-left: 20px;
    margin-bottom: 100px;

}

.cart-clause{
    font-family: 'PT-sans', sans-serif;
    position: relative;
    width: 80%;
    min-width: 1000px;
    left: 20px;
    top: -75px;
    font-size: 13px;
    margin-bottom: 300px;
}

.signin-cart-cont{
    background: white;
    
    width: 75%;
    padding-right: 25px;
    min-width: 1050px;
    max-width: 1600px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.signin-cart-cont h1{
    position: relative;
    top: 35px;
    left: 25px;
    margin-bottom: 80px;
    font-size: 28px;
    
    font-weight: bold;
    font-family: 'PT-sans', sans-serif;
}

.cart-product{
    display: flex;
    margin-top: 40px;
    padding-top: 15px;
    margin-left: 15px;
    border-top: 1px solid lightgray;
    width: 95%;
}

.cart-product:last-child{
    border-bottom: 1px solid lightgray;
    padding-bottom: 40px;
}
.cart-image{
    width: 190px;
    height:180px;
    margin-bottom: -35px;
    margin-right: 10px;
}

.cart-title-cont{
    min-width: 70%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    font-family: 'PT-sans', sans-serif;
}

.cart-title{
    font-size: 18px;
    

    line-height: 1.3em !important;
    color: #007185;
    text-decoration: none;
}

.cart-title-cont p{
    position: relative;
    top: -10px;
    color: #058552;
    font-size: 13px;
    line-height: 16px;
}

.cart-shipped{
    position: relative;
    top: -16px;
    font-size: 14px;
    line-height: 16px;
}
.cart-shipped a{
    color: #007185;
    text-decoration: none;
}

.cart-shipped a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #C7511F;
}

.cart-gift{
    font-size: 14px;
    line-height: 16px;
    position: relative;
    top: -10px;
}

#cart-select{
    position: relative;
    top: 5px;
    border:1px solid lightgray;
    box-shadow: 0px 1px 5px lightgray;
    border-radius: 8px;
    background-color: rgb(244, 244, 244);
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    padding: 7px;
    width: 80px;
    outline: none;
}



.cart-title:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #C7511F;
}

.cart-delete {
    position: relative;
    top: 5px;
    margin-left: 15px;
    padding-left: 15px;
    border: none;
    border-left: 1px solid lightgray;
    background-color:transparent;
    outline:none;
    line-height: 15px;
    color: #007185;
}

.cart-delete:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #C7511F;
}

.cartitem-price{
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    font-family: 'PT-sans', sans-serif;
    margin-left: 80px;
}

.cart-subtotal{
    position: relative;
    margin-top: 15px;
    padding-bottom: 50px;
    left: 78%;
    font-size: 20px;
    font-family: 'PT-sans', sans-serif;

}

.inner-cart-subtotal{
    font-weight:bold;
}


.cart-checkout{
    font-size: 20px;
    font-family: 'PT-sans', sans-serif;
    position:relative;
    background: white;
    height: 185px;
    padding: 30px 40px 0px 20px;
    top: 30px;
    left: 5px;
    width: 340px;

}

.cart-checkout-button{
     text-decoration: none;
    font-family: 'PT-sans', sans-serif;
    color: black;
    font-size: 17px;
    padding: 6px 12px 7px 12px;
    border: 1px solid #FCD200;
    border-radius: 8px;
    background: #FFA41C;
    border-color: #FF8F00;
    position: relative;
    top: 50px;

    margin-right: 8px;
    box-shadow: 0px 1px 6px 1px rgb(230, 230, 230);
    width: 300px;
}

.cart-checkout-button:hover{
    background: #FA8900;
    border-color: #E3931E;
    cursor: pointer;
}


.cart-shopping-link{
    position: relative;
    top: 20px;
    left: 5px;
    color: #007185;
    text-decoration: none;
    font-family: 'PT-sans', sans-serif;
    font-size: 16px;
}

.cart-shopping-link:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #C7511F;
}

//    font-size: 19px;
//     font-family: 'PT-sans', sans-serif;
//     position:relative;
//     background: white;
//     height: 150px;
//     padding: 30px 45px 0px 15px;
//     top: -1243px;
//     left: 80%;
//     max-width: 400px;