#outer-footer{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scroll-button{
    color: white;
    font-family: 'PT Sans', sans-serif; 
    
    width:100%;
    height:50px;
    border:0px;
    background-color:  #37475A;
    outline: none;
}

#scroll-button:hover{
    cursor: pointer;
    background-color:  #556272;
}

#middle-footer{
    
    height: 155px;
    width: 100%;
    background-color: #232F3E;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    justify-content: center;
    font-weight: bold;
}

#myself-footer{
    font-size: 23px;
    margin-left: 7px;
    margin-top: 2px;;
}

.footer-link{
    color: white;
    text-decoration: none;
}

#bottom-footer{ 
    border-top: 1px solid #4c565e;
    height: 80px;
    width: 100%;
    background-color: #232F3E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

#footer-logo{
    padding-top: 15px;
    width: 110px;
    height: 50px;
}

#footer-github{
    position: relative;
    top: 5px;
    margin-left: 3px;
    margin-right: 3px;
    left: 3px;
    width: 28px;
    height: 28px;
}