.nav{
    display: flex;
    margin-top: 0px;
    width: 100%;
    height: 60px;
    background-color: #131A22

}

#navlogo{
    position: relative;
    float: left;
    line-height: 0;
    top: 9px;
    left: 6px;
    height: 70%;
    width: 130px;
    padding: 0px 10px 0px 9px;
    background-color: #131A22;
    border-radius: 3px;
}


#navlogo:hover{
    border: 1px solid white;
    padding: 0px 9px 0px 8px;
    cursor: pointer;
     height: 75%;
     top:7px;
}

.outerSearch{
    position: relative;
    top:8px;
    left: 55px;
    height: 35px;
    width:97%;
}

#search {
    display:flexbox;
    flex-grow: 1;
    position: relative;
    padding: 0px 0px 0px 10px;
    border:0px;
    bottom: 0px;
    height: 38px;
    width: 88%;
    left: auto;
    right: 25px;
    outline: none;
    border-radius: 5px;;
}


#sbutton {
    position: relative;
    right: 65px;
    top:4px;
    padding: 0px 0px 0px 0px;
    height: 38px;
    width: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
    font-size: 20px;
    border: 0px;
    background-color: rgb(255, 193, 77);
    outline: none;
}

#searchb {
    position: relative;
    height: 21px;
    width: 21px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-dropdown{
    display: flex;
    flex-direction: column;
    margin-left: -25px;
    margin-top: -3px;
    width: 88%;
        border: 1px solid lightgray
}
.search-dropdown button {
    display: flex;
    background: white;
    font-size: 15px;
    padding: 5px 0px 5px 5px;
    border:0px;
    outline:none;
    z-index:5;
}
.search-dropdown button:hover{
    cursor: pointer;
    background:rgb(223, 223, 223);
}


#search:active, #search:focus {
    
  box-shadow: 0 0 0 3px rgb(240, 156, 0);
  
    
}


#sbutton:hover {
    cursor: pointer;
    background-color: orange;
}

#sbutton:active{
    border: 5px solid orange;
}

#navflag{
    position: relative;
    
    top: 26px;
    width: 21px;
    height: 16px;
    right: 0px;
}
#arrow{
   position: relative;
    left: 25px;
    top: 13px;
   
    
}
#flagarrow{
    position: relative;
    width: 60px;
    right:20px;
    padding: 0px 24px 5px 14px;
    top:1px;
}

#flagarrow:hover {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 3px;
    padding: 0px 23px 5px 13px; 
    top:0px;
}
#flagarrow:hover + #arrow{
    right: 15px;
}

.greet-flag{
    position: absolute;
	display: none;
    top: 52px;
	background-color: #fff;
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 10px;
    width: 175px;
    height: 80px;
	z-index: 1;
	color: darkgray;
	font-family: 'PT-sans',sans-serif;
	text-align: left;
	box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
    
}
input[type='radio']:checked{
    width: 16px;
    height: 16px;
   color: orange;
}

.greet-flag .greet-links{
    color: black;
    font-size: 13px;
     display: flex;
    flex-direction: none;
    align-items: flex-end;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid lightgray;
    padding-bottom: 12px;
}

greet-flag .greet-links input {
    position: relative;
    left: 5px;
    top: 5px;
}

#flagarrow:hover .greet-flag{
    display: block;
}

.greet-flag:before {
    content: "";
    width: 4;
    height: 4;
    position: absolute;
    bottom: 100%;
    right: 132px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.greet-flag:after {
    content: "";
    width: 4;
    height: 4;
    position: absolute;
    bottom: 100%;
    right: 134px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.outergreet .greet {
position: absolute;
	display: none;
	top: 52px;
    right: 132px;
	background-color: #fff;
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 10px;
    width: 475px;
	z-index: 1;
	color: darkgray;
	font-family: 'PT-sans',sans-serif;
	text-align: left;
	box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
    font-weight: initial;
    

}



.greet:before {
    content: "";
    width: 4;
    height: 4;
    position: absolute;
    bottom: 100%;
    right: 78px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.greet:after{
    content: "";
    width: 4;
    height: 4;
    position: absolute;
    bottom: 100%;
    right: 80px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.greet .outer-greet-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-group .greet .greet-links{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}
.outergreet .greet .greet-links{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    margin-top: -45px;
    border-top: 1px solid rgb(233, 231, 231);
    padding-top: 15px;
    margin-top: -62px;
}


.nav-group .greet {
    position: absolute;
	display: none;
	top: 52px;
    right: 132px;
	background-color: #fff;
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 10px;
    width: 475px;
    height: 425px;
	z-index: 1;
	color: darkgray;
	font-family: 'PT-sans',sans-serif;
	text-align: left;
	box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
    font-weight: initial;
}
.greet-list{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid rgb(233, 231, 231);
}

.greet-shopping-list{
    margin-left: 8px;
    margin-top: 5px;
}
.greet .greet-shopping-list li{
    margin-top: 10px;
    margin-bottom: 10px;
}

.greet-links h1{
    color: black;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;

}
.greet-links ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 12.5px;
}

.greet-links ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #C7511F
}

.greet-links .greet-list li{
    margin: 5px;
}

.nav-group:hover .greet{
    display:block;
}

.greet-links li, .outer-greet-links li{
    margin: 15px 0;
	border-radius: 3px;
	font-size: 12px;
}

.outer-greet-links li button:hover{
    cursor: pointer;
    background: linear-gradient(#f7e2af, #e9bf53, #f0bb36);
}

.outer-greet-links li button{
    position: relative;
    top: -11px;
    width: 192px;
    height: 33px;
    background: linear-gradient(#f7e2af, #f1d07a, #f3c247);
    border-radius: 3px;
    border: 1px solid #8f732d;
}

.greet-links li, .outer-greet-links li{
    color: black;
}
.outer-greet-links li p {
     position: relative;
    top: -45px;
    font-size: 11px;
}

#shopping-list-border{
    border-bottom: 1px solid rgb(233, 231, 231);
    width: 220px;
    padding-bottom: 10px;
}

#greet-signin{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

#start-link{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
     color:#10528c;
     margin-left: 3px;
}

#start-link:hover{
      text-decoration: underline;
    cursor: pointer;
    color: #C7511F
}


.outergreet:hover .greet{
    display:block;
}



#bottomgreet img {
    position: relative;
    top: 4px;
}

#topgreet, #bottomgreet{
    color:white;
    position: relative;
    font-family: 'PT Sans', sans-serif; 
    text-decoration: none;
}

#topgreet, #topreturn{ 
    font-size: 12px;
    font-family: 'PT Sans', sans-serif; 
    font-weight:bolder;
}

#bottomgreet, #bottomreturn{
    font-weight: bolder;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif; 
}

#greeting, #logingreet{
    color:white;
    position: relative;
    font-family: 'PT Sans', sans-serif; 
    text-decoration: none;
}

#greeting {
    font-size: 12px;
    font-family: 'PT Sans', sans-serif; 
}

#logingreet{
    font-weight: bolder;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif; 
}

#topbutton, #returnbutton, .header-button{
    top:5px;
    border: 0px;
    left: -2px;
    background: none;
    outline: none;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    padding: 7px 10px 8px 9px;
    width: 155px;
    height:90%;
    position: relative;
    right: 20px;
}

.header-button{
    border: 0px;
    left: -2px;
    background: none;
    outline: none;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    padding: 7px 10px 8px 9px;
    width: 155px;
    height:90%;
    position: relative;
    right: 20px;
}






 #topbutton:hover, #returnbutton:hover, .header-button:hover{
    cursor: pointer;
    border: 1px solid white;
    border-radius: 3px;
    padding: 6px 9px 7px 8px;
}

#returnbutton{
    color:white;
    position: relative;
    font-family: 'PT Sans', sans-serif;
    z-index:1;
    width: 90px;
    
}
#cart-icon{
    position: relative;
    bottom: 5px;
}

#cart-number{
    color: rgb(206, 140, 19);
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    font-weight:bolder;
    position: relative;
    top:-63px;
    left: 20px;
    z-index: 2;
}

.loc-button{
      border: 0px;
    background: none;
    outline: none;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    padding: 0px 0px 0px 8px;
    width: 155px;
    height:90%;
    margin-left: 7px;
    min-width: 175px;
}
.loc-button:hover{
    cursor: pointer;
    border: 1px solid white;
    border-radius: 3px;
    padding: 0px 0px 0px 7px;
    margin-top: 2px;
}

.top-address{
    color:white;
    position: relative;
    font-family: 'PT Sans', sans-serif; 
    text-decoration: none;
    font-size: 13px;
    left: 14px;
    bottom: -9px;
}



.address{
    color:white;
    font-size: 15px;
    font-weight:bolder;
    font-family: 'PT Sans', sans-serif;
    position: relative;
    left:-4px;
    
}
.outer-location{
    position: relative;
    right:-10px
}
.loc{
    position: relative;
    height:20px;
    width:18px;
    top:2px;
    right:2px;
    
}