#search-result{
    border: 1px solid lightgray;
    display:flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    box-shadow: 0px 2px 5px lightgray;
    height: 40px;
}
#search-result div{
    position: relative;
    left: 130px;
}

#search-result p {
    position: relative;
    left: 130px;
    margin-left: 5px;
    color: #c45500!important;
    font-weight: bold;
}
.product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    // border-top: 1px solid lightgray;
    border-left: 2px solid lightgray;
    margin-left: 20%;
    margin-top: 13px;
    max-width: 1300px;
}

.product-image{
    width: 220px;
    height:210px;
}

.inner-container{
    margin: 25px;
    margin-left: 30px;
    padding-bottom: 20px;
    display: flex;
    border-bottom: 2px solid lightgray;
}

.inner-container:nth-child(1){
    border-top: 2px solid lightgray;
    padding-top: 40px;
    margin-top: 0px;
}

.inner-container:last-child{
    margin-bottom: 2px;
}
.description{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 35px;
}
.product-title{
    font-size: 18px;
    font-weight:500;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: black;
}

.product-title:hover{
    cursor: pointer;
    color: #C7511F
}

.review-image{
    position: relative;
    
}

.product-price {
    position: relative;
    font-weight:500;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.product-delivery{
    font-size: 13px;
    font-family: 'PT-sans', sans-serif;
}
.product-prime{
    position: relative;
    top: 6px;
}

.more-buying{
    position: relative;
    top: 3px;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}
.price-offer{
    position: relative;
    top: 5px;
    font-size: 14px;
    font-family:"PT-sans", sans-serif;
    
}
.offer-link{
    margin-left: 9px;
    text-decoration: none;
    color: #007185;
}
.offer-link:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #C7511F;
}


// .product-show-list li img{
//     position: relative;
//     height: 50px;
//     width: 60px;
// }

#outer-product-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -175px;
}


.product-show{
    display: flex;
    max-width: 1550px;
    flex-direction: row;
    margin-top: 45px;
    width:83%;
    
}

.product-show > img{
    position: relative;
    top:30px;
    left:50px;
    height: 30%;
    width: 33%;
    max-width: 500px;
    max-height: 500px;
}


#product-show-title{
    font-size: 23px;
    font-weight: 500;
    font-family: 'PT-sans', sans-serif;
    line-height: 30px;

}

.product-show-list{
    position: relative;
    width: 40%;
    height: 100px;
    top: 30px;
    left: 125px;
}

.product-show-list a{
    position: relative;
    left: 1px;
    
    text-decoration: none;
    color:#007185;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}
.border-bottom-link{
    width:95%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 3px;
}

#react-stars{
    margin-bottom: 5px;
 
}

.long-react-stars{
    margin-top: 5px;
}

.product-show-list h3 a{
top:20px;
}
.product-show-list div a {
    font-size: 14px;
    font-weight: 500;
    
}
#product-show-list-link{
    margin-top:10px;
    margin-bottom: 15px;
}
.product-show-list > li{
        font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    margin-top:10px;
}
.product-show-list li div {
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    color:#a43d10;
    margin-left: 5px;
}
.product-show-list li h1 {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    color:#a43d10;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}


.product-show-list a:hover{
    text-decoration: underline; 
    cursor: pointer;
    color: #C7511F
}

#product-show-description{
    list-style-type:disc;
    margin-top: 5px;
    line-height: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding-left: 0px;
    list-style-position: inside;
}

#product-show-sidebar{
    width: 300px;
    max-width: 240px;
    height: 600px;
    padding: 15px;
    position: relative;
    left: 140px;
    top: 35px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

#product-show-sidebar li h1{
    font-size: 19px;
    font-weight: 500;
    font-family: 'PT-sans', sans-serif;
    color:#a43d10;
    margin-top: 5px;
}
#product-show-sidebar li img{
    margin-top: 8px;
}

.free-delivery-clause{
    display: flex;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-bottom: 6px;
}

#product-show-sidebar li a{
    position: relative;
    left: 3px;
    font-weight: 500;
    text-decoration: none;
    color:#007185;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    top:9px;
}

#product-show-sidebar li a:hover{
    text-decoration: underline; 
    cursor: pointer;
    color: #C7511F
}

#product-show-loc{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 170px;
}
#product-show-loc h4 a{
    font-size: 12px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    color:#007185;

}

#product-show-loc h4{
    
    margin-left: 5px;
}

#product-show-sidebar li h3{
    color:#007600!important;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    position: relative;
    top:23px;
}

#product-show-select{
    position: relative;
    top: 35px;
    border:1px solid lightgray;
    box-shadow: 0px 1px 5px lightgray;
    border-radius: 8px;
    background-color: rgb(244, 244, 244);
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    padding: 2px;
    width: 65px;
}

#product-show-select:focus, #product-show-select:active{
    outline:none;
    box-shadow: 0px 0px 15px rgb(113, 193, 220);
}

.product-sidebar-button{
    position: relative;
    top: 58px;
    width: 200px;
    height: 33px;
    border-radius: 15px;
    border: 0px;
    background: #FFA41C;
    border-color: #FF8F00;
    font-family: 'Lato', sans-serif;
    outline: none;
}

#product-show-sidebar ul li .buy-now-product{
    color: black;
    position: relative;
    top: 70px;
    left: 0px;
    text-decoration: none;
}

.lower-button-buy{
    top: 0px;
    background: #FFD814;
    border-color: #FCD200;  
}

.lower-button{
    top: 70px;
    background: #FFD814;
    border-color: #FCD200;  
}

.product-sidebar-button:hover{
    cursor: pointer;
    background: #e88b00;
}
.lower-button:hover{
    cursor: pointer;
    background: #f2ca00;
}

.product-secure{
    display: flex;
    margin-top: 80px;
    margin-left: 5px;
    margin-bottom: 15px;
}
.product-secure-button{
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}
.product-secure-button div{
    margin-left: 5px;
}
#product-show-sidebar .product-secure-button a{
    font-size: 12px;
    left: 27px;
    position: relative;
    top: 0px;
}

#product-secure .product-secure-link{
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

#product-secure-button .product-secure-link:hover {
    text-decoration: underline; 
    cursor: pointer;
    color: #C7511F
}