// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#app-cont{
    background-color: rgba(216, 216, 216, 0.404);
}

#cart-cont{
    background-color: rgba(216, 216, 216, 0.404);
    height: 100%
}